version: 2.1
orbs:
    heroku: circleci/heroku@1.2.6
    cypress: cypress-io/cypress@1
workflows:
    heroku_deploy:
        jobs:
            - cypress/install:
                  build: "yarn run build"
            - cypress/run:
                  requires:
                      - cypress/install
            - heroku/deploy-via-git:
                  requires:
                      - cypress/run
