version: 2.1
orbs:
    node: circleci/node@2.0.2
    heroku: circleci/heroku@1.2.6
    cypress: cypress-io/cypress@1
    docker: circleci/docker@2.0.1
workflows:
    cypress_test:
        jobs:
            - cypress/run
    heroku_deploy:
        jobs:
            - docker/publish:
                  image: gjagnoor/codebasev1
                  update-description: true
            - heroku/install
            - run: heroku container:login
            - heroku/push-docker-image:
                  process-types: web
            - heroku/release-docker-image:
                  process-types: web
        filters:
            branches: main
