body {
    margin: 0;
    background-color: #30404d;
    color: white;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.app-heading {
    color: #3b7668;
}

p {
    color: white;
}

#navbar {
    background-color: rgba(76, 175, 80, 0);
    box-shadow: none;
}

#monaco {
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
}

.editor {
    border: 1px solid #4bb2f9;
    margin: 2em;
}

/* (Mobile S, 320px and up) */
@media (max-width: 320px) {
    body {
        overflow: auto;
    }
    #monaco {
        flex-wrap: wrap;
    }
}

/* (Mobile M, 375px and up) */
@media (max-width: 375px) {
    body {
        overflow: auto;
    }
    #monaco {
        flex-wrap: wrap;
    }
}

/* (Mobile L, 425px and up */
@media (max-width: 425px) {
    body {
        overflow: auto;
    }
    #monaco {
        flex-wrap: wrap;
    }
}

/* (desktop small, 500px and up */
@media (max-width: 500px) {
    body {
        overflow: auto;
    }
    #monaco {
        flex-wrap: wrap;
    }
}

/* (Tablet, 768px and up) */

@media (max-width: 900px) {
    body {
        overflow: auto;
    }
    #monaco {
        flex-direction: column;
    }
}
