body {
    margin: 0;
    background-color: #30404d;
    color: white;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.app-heading {
    color: #3b7668;
}

p {
    color: white;
}

#navbar {
    background-color: rgba(76, 175, 80, 0);
    box-shadow: none;
}
